---
import CategoriesSlider from '../categoriesSlider';
---
<section class="bg-[#E2E8F0] px-6 py-16 flex flex-col gap-10">
    <div class="text-center text-[#003F70] text-4xl font-semibold leading-10">Що ми аналізуємо <br> тестом ДНК по вашій слині?</div>

    <div>

        <CategoriesSlider client:load />
        
    </div>
</section>