---
import SectionTitle from '../sectionTitle.astro'
const { title, steps } = Astro.props;
---


<section class="bg-[#F8FAFC]">
    <div class="container py-16 flex flex-col gap-10">
        <SectionTitle html={title}  />
        <div class="flex flex-wrap gap-0.5">

            {steps.map((item: any, index: number) => (
                <div class="bg-white p-7  rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl rounded-br-2xl w-[calc(33.33333%-2px)] flex gap-6">
                    <div class="shrink-0">
                        <img class="w-[96px] max-w-[100%] h-auto" src={item.imageLink} alt="work1">
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="text-[#003F70] text-xl font-semibold leading-normal">Крок { index + 1 }</div>
                        <div class="text-[#003F70] text-base font-normal leading-normal">{item.description}</div>
                    </div>
                </div>
              ))}
            
        </div>

        <div class="ml-auto mr-auto">
            <a class="px-10 py-4 bg-gradient-to-r from-[#F75E1D] to-[#F97D3E] rounded-[999px] inline-flex justify-center items-center" href="#">
                <span class="text-[#fff] text-lg font-bold leading-tight">Купити зараз</span>
            </a>
        </div>
    </div>
</section>