---
const { title } = Astro.props;
---

<section class="container pb-20 pt-16">

<div>

    <div class="text-[#003F70] text-4xl font-semibold leading-10">{title}</div>

</div>

<div>

</div>

</section>