---
// import landing from '../content/landing.yaml';
// import { resolveComponent } from '../utils/resolveComponent.ts';
// import "../styles/global.css";


// const resolvedBlocks = await Promise.all(
//   landing.blocks.map(async (block) => {
//     const Component = await resolveComponent(block.type);
//     return { Component, props: block };
//   })
// );
// ---

// <!DOCTYPE html>
// <html lang="en">
// <head>
//     <meta charset="UTF-8">
//     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
//     <title>Document</title>
// </head>
// <body>
//   {resolvedBlocks.map(({ Component, props }, index) =>
//   Component && <Component {...props} key={index} />
// )}
    
// </body>
// </html>


